<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>npc_1001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {114, 253}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{114, 253}</string>
			<key>spriteSourceSize</key>
			<string>{116, 255}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 0}, {114, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {113, 247}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{113, 247}</string>
			<key>spriteSourceSize</key>
			<string>{117, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 0}, {113, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {112, 259}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{112, 259}</string>
			<key>spriteSourceSize</key>
			<string>{116, 259}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {113, 257}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{113, 257}</string>
			<key>spriteSourceSize</key>
			<string>{117, 259}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 261}, {113, 257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {113, 247}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{113, 247}</string>
			<key>spriteSourceSize</key>
			<string>{117, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 249}, {113, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {119, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 247}</string>
			<key>spriteSourceSize</key>
			<string>{123, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 755}, {119, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {131, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 245}</string>
			<key>spriteSourceSize</key>
			<string>{131, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 496}, {131, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {141, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{141, 245}</string>
			<key>spriteSourceSize</key>
			<string>{141, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{583, 0}, {141, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {143, 245}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{143, 245}</string>
			<key>spriteSourceSize</key>
			<string>{147, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 249}, {143, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {147, 245}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{147, 245}</string>
			<key>spriteSourceSize</key>
			<string>{151, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 749}, {147, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_1011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {147, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{147, 245}</string>
			<key>spriteSourceSize</key>
			<string>{147, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 498}, {147, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {113, 249}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{113, 249}</string>
			<key>spriteSourceSize</key>
			<string>{117, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 0}, {113, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {113, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{113, 245}</string>
			<key>spriteSourceSize</key>
			<string>{117, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 0}, {113, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {113, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{113, 245}</string>
			<key>spriteSourceSize</key>
			<string>{117, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{641, 743}, {113, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {115, 245}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{115, 245}</string>
			<key>spriteSourceSize</key>
			<string>{119, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 247}, {115, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {111, 245}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{111, 245}</string>
			<key>spriteSourceSize</key>
			<string>{119, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 494}, {111, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 247}</string>
			<key>spriteSourceSize</key>
			<string>{119, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 500}, {119, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {117, 249}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{117, 249}</string>
			<key>spriteSourceSize</key>
			<string>{117, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 255}, {117, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {113, 251}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{113, 251}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 773}, {113, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_2010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {113, 251}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{113, 251}</string>
			<key>spriteSourceSize</key>
			<string>{117, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 520}, {113, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 247}</string>
			<key>spriteSourceSize</key>
			<string>{119, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 755}, {119, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {121, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{121, 241}</string>
			<key>spriteSourceSize</key>
			<string>{121, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 741}, {121, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {123, 239}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{123, 239}</string>
			<key>spriteSourceSize</key>
			<string>{123, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 492}, {123, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {129, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{129, 241}</string>
			<key>spriteSourceSize</key>
			<string>{129, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 0}, {129, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {116, 243}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{116, 243}</string>
			<key>spriteSourceSize</key>
			<string>{118, 245}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{738, 247}, {116, 243}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {133, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{133, 245}</string>
			<key>spriteSourceSize</key>
			<string>{133, 247}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 745}, {133, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {131, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 247}</string>
			<key>spriteSourceSize</key>
			<string>{131, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 506}, {131, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {125, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{125, 247}</string>
			<key>spriteSourceSize</key>
			<string>{125, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 251}, {125, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>npc_3010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {121, 247}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{121, 247}</string>
			<key>spriteSourceSize</key>
			<string>{121, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 0}, {121, 247}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>Beautiful.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>