<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{96,162}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,144},{96,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{92,166}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,144},{92,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1},{92,160}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,141},{92,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{98,150}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,142},{98,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{108,148}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,144},{108,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,319},{112,148}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,144},{112,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{108,148}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,142},{108,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10001_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,162},{98,156}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,141},{98,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001_walk.png</string>
            <key>size</key>
            <string>{263,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce15d03c04fc5a0c7457c68abea19f2$</string>
            <key>textureFileName</key>
            <string>10001_walk.png</string>
        </dict>
    </dict>
</plist>
